{% extends 'index.html' %}
{% block title %} Home {% endblock title %}

{% block body %}

<div class="container my-5">
    <h5 class="card-header">This is a Web Dictionary App</h5>
    <div class="card-body">
        <h5 class="card-title">English to Bengali Translator</h5>
        <p class="card-text">This is my 1st web app for translating English to Bengali. This app is uses Google Translate API and it uses SQLAlchemy for storing the word meaning which we want to store in Database.</p>
        <a href="/myDict" class="btn btn-outline-dark">Back</a>
    </div>
</div>

{% endblock body %}
